---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import ProgressBar from '../components/Progress_bar.astro';
import AcercaRedVirtualComponent from '../components/AcercaRedVirtual.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Acerca de Red Virtual - Escuelas 360" description="Conoce las cápsulas de Red Virtual disponibles en Clase T. Aprende a solucionar contratiempos con el sistema POS.">
  <Navigation />
  <ProgressBar />
  
  <main>
    <AcercaRedVirtualComponent />
  </main>
  
  <Footer />
</Layout>
