---

---

<footer slot="footer">
  <div class="con_footer">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <h2>Empresa</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore ullam temporibus expedita tenetur eos ut,
                  voluptatibus reprehenderit maxime cupiditate earum vel fuga autem recusandae aperiam ipsum.</p>
              </div>
              <div class="col-md-3">
                  <a href="#">Inicio</a>
                  <a href="#">Conocenos</a>
                  <a href="#">Productos</a>
                  <a href="#">Contactanos</a>
              </div>
              <div class="col-md-3">
                  <h2>Recomendaciones del mes</h2>
                  <a href="">
                  <p>Noticias de nuevos lanzamientos</p>
                  <p>Octubre de 2024</p>
                  </a>
              </div>
              <div class="col-md-3 con_img_footer">
                  <img src="#" class="img-fluid" alt="">
                  <h3>Escuelas 360</h3>
                  <p>Generando experiencias memorables</p>
              </div>
          </div>
      </div>
  </div>
</footer>