<section slot="cartas">
  <div class="cont_banner_sec_3 justify-content-center">
    <div class="row text-center" id="seccion_cronogramas">
      <div class="col-md-12">
        <hr />
        <h2>METODOLOGÍAS DE FORMACIÓN</h2>
        <hr />
      </div>
    </div>
    <div class="row justify-content-around text-center">
      <!-- Tarjeta 1 -->
      <div class="tarjeta col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Calle 28_174.jpg" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Escuelas Colombia</h5>
            <p>Enterate de nuestros programas y metodologias de formación</p>
            <a href="#" class="btn">Haz clic aquí</a>
          </div>
        </div>
      </div>
      
      <!-- Tarjeta 2 -->
      <div class="tarjeta col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Confiable.png" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">EDS Confiable</h5>
            <p>Enterate de nuestros programas y metodologias de formación</p>
            <a href="#" class="btn">Haz clic aquí</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="tarjeta col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Calle 28_174.jpg" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Red Virtual</h5>
            <p>Enterate de nuestros programas y metodologias de formación</p>
            <a href="#" class="btn">Haz clic aquí</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>