---

---
<nav class="navbar fixed-top navbar-expand-lg shadow p-3 mb-2" slot="nav">
  <div class="container-fluid">
      <a class="navbar-brand fs-3" href="/#">
          <img src="../../media/img/Terpel_simbolo.png" class="img-fluid d-inline-block" alt="Escuelas 360" width="60" height="50">
          ESCUELAS 360
      </a>
      <button class="navbar-toggler" type="button" data-bs-theme="dark" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-75 text-center align-text-bottom" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link fs-6" href="regionales_cronograma.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cronograma Escuelas <br> Colombia
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/antioquia_prog/">Antioquia</a></li>
                      <li><a class="dropdown-item" href="#">Bucaramanga</a></li>
                      <li><a class="dropdown-item" href="#">Centro</a></li>
                      <li><a class="dropdown-item" href="#">Norte</a></li>
                      <li><a class="dropdown-item" href="#">Occidente</a></li>
                      <li><a class="dropdown-item" href="#">Sabana</a></li>
                      <li><a class="dropdown-item" href="#">Sur</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/programacion_escuelascol/">Ver todas las regionales</a></li>
                  </ul>
                <li class="nav-item">
                    <a class="nav-link fs-6" href="programacion_eds_conf.html">Cronograma EDS <br> Confiable</a>
                </li>
              </li>
              <li class="nav-item">
                  <a class="nav-link fs-6" href="instructores.html">Directorio de <br> Instructores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fs-6" href="escuelas_metodology.html">Acerca de <br> Escuelas Colombia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-6" href="boletin.html">Acerca de Red <br> Virtual</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link fs-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acerca de <br> EDS Confiable
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-6" href="/boletin_qnlp/">Boletin que no <br> le pase</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
