---
const archivosPDF = [
  "Boletín EDS Confiable N 75.pdf",
  "Boletín EDS Confiable N 76.pdf",
  "Boletín EDS Confiable N 77.pdf",
  "Boletín EDS Confiable N 78.pdf",
  "Boletín EDS Confiable N 80.pdf"
];

// import fs from 'fs';
// import path from 'path';

// // Construye la ruta absoluta
// const boletinesPath = path.join(process.cwd(), 'public', 'media', 'docs', 'Boletines');

// console.log("Iniciando lectura");
//     const files = fs.readdirSync(boletinesPath);
//     console.log("Finalizando lectura");
//     console.log(files);

---

<style>
  .pdf-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Dos columnas */
    gap: 20px; /* Espacio entre PDFs */
    padding: 20px;
  }

  iframe {
    width: 100%;
    height: 500px; /* Ajusta la altura según necesites */
    border: 1px solid #ccc;
  }

  .title_pdf {
    position: relative;
  }
</style>

<div class="pdf-container">
  {archivosPDF.map((archivo) => (
    // <h2 class="title_pdf text-center">{archivo}</h2>
    <iframe src={`/media/docs/Boletines/${archivo}`} loading="lazy"></iframe>
  ))}
</div>