<section slot="cartas">
  <div class="cont_banner_sec_3 justify-content-center">
    <div class="row text-center" id="seccion_cronogramas">
      <div class="col-md-12">
        <hr />
        <h2>¡¡CON LA MEJOR ENERGÍA!!</h2>
        <p>Obtén información sobre los siguientes temas</p>
        <hr />
      </div>
    </div>
    <div class="row justify-content-around text-center">
      <!-- Tarjeta 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Calle 28_174.jpg" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Cronograma Escuelas Colombia</h5>
            <p>Enterate de la programacion semanal de nuestras formaciones</p>
            <a href="/programacion_escuelascol/" class="btn">Haz clic aquí</a>
          </div>
        </div>
      </div>
      
      <!-- Tarjeta 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Confiable.png" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Cronograma EDS Confiable</h5>
            <p>Enterate de la programacion semanal de nuestras formaciones</p>
            <a href="#" class="btn">Haz clic aquí</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="../../media/img/EDS Calle 28_174.jpg" class="card-img-top" alt="Cronograma Escuelas Colombia" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Certificados de formación</h5>
            <p>Busca tu certificado de formación de Escuelas Colombia</p>
            <a href="https://grupospira-my.sharepoint.com/:f:/g/personal/diplomas_terpel_spira_co/EqT6XjS8UXFOnbz0joUFYYsBsHyj_77SHZ-CU92pmIaQ-g?e=bQ5r5N" class="btn" target="_blank" rel="noopener noreferrer">Haz clic aquí</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>